.container{
  margin:54px;
  margin-left:-23px
}
.box-input-table{
  margin-left:5px;
  margin-right:-85px;
  margin-bottom:12px;

}
th{
  font-weight:lighter;
  font-style: italic;
  /* border-bottom: 2px solid #dee2e6; */
}
.table thead th {
  vertical-align: bottom;
  border:0px
  /* border-bottom: 2px solid #dee2e6; */
}
.box-input{
  padding-left: 0%;
  margin-right:23px
}
.form-group{
  margin-left:-43px;
  padding:0;
}
h1{
  margin-left:-47px;
}
.table{
  margin-top:24px;
  margin-right:-123px;
}